@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>RUNNING IN AZURE</h1>
    <p>admin account : admin@localhost.com , P@ssw0rd1</p>
    <p>user account : user@localhost.com , P@ssw0rd1</p>
</div>
